*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.btn{
    text-decoration: none;
    background: linear-gradient(
    45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.showoff{
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.showoff-text{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 70px;
}

.showoff-image{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
}

h1{
    font-size: 50px;
    margin-bottom: 25px;
}

span{
    color: orange;
}

p{
    margin-bottom: 30px;
    margin-top: 30px;
}

.showoff-image img{
    width: 100%;
    margin-top: 50px;
}

.showoff-1{
    display: flex;
    margin-top: 150px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience{
    margin-top: 150px;
    margin-bottom: 150px;
}

.experience-box{
    display: flex;
    margin-top: 50px;
}

.experience-left
{
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 7px solid;
    border-image: linear-gradient(
    180deg, lightsalmon, tomato);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px grey;
    height: 80%;
    padding: 15px;
    border-radius: 15px;
}

.experience-right{
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 7px solid;
    border-image: linear-gradient(
    180deg, blue, cyan);
    border-image-slice: 1;
    box-shadow: 5px 7px 40px grey;
    height: 80%;
    padding: 15px;
    border-radius: 15px;
    padding-bottom: 40px;
}

.experience h2{
    font-size: 40px;
}

.experience-box h3
{
    color: orange;
    margin-top: 25px;
}

footer p{
    text-align: center;
}
